<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Now!</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/login.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
<a href="/" class="navbar-brand">Brand</a>
<ul class="nav navbar-nav">
<li><a href="#">Home</a></li>
<li><a href="RegisterServlet">Register</a></li>
</ul><ul class="nav nabar-nav navbar-right">
<li class="active"><a href="LoginServlet">Login</a></li>
</ul>
</nav>
<div class="container">
<script>
function F(){
	var v1=document.getElementById("p1").value;
	var v2=document.getElementById("p2").value;
	if(v1!=v2){
		document.getElementById("pr1").style.visibility="visible";
		return false;}
	else{
		return true;}
}</script>
<form action="RegisterServlet" id="f" method="post" onsubmit="return F()"class="form-signin">

<input type="text" name="name" placeholder="Username" class="form-control" autofocus="" required><br>
<input type="text" name="fullname" placeholder="fullname" class="form-control"  required><br>
<input type="email" name="email" placeholder="Email ID" class="form-control"  required><br>
<input type="password" name="password" id="p1" placeholder="password" class="form-control" required>
<input type="password" name="confpassword" id="p2" placeholder="Confirm password" class="form-control" required>
<p style="visibility:hidden; color:red" id="pr1">Passwords do not match</p>
<input type="submit" value="Register" class="btn btn-lg btn-danger btn-block">
</form>



</div>
</body>
</html>